@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

body {
  background-image: url(/assets/img/dolar.jpg);
  display: flex;
  font-family: "Koulen", cursive;
  font-size: 1.5rem;
  width: 100%;
}

.container {
  margin-block: 5rem;
  padding-top: 1.5rem;
  background: rgba(249, 245, 245, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(234, 223, 223, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(46, 43, 43, 0.43);
  width: 45.75rem;
}

.image-content {
  width: 40%;
}

.form-select {
  font-size: 1.5rem;
}

.converted-value {
  color: #452b4e;
}

.conversion-precision {
  color: #452b4e;
}